* {
    -fx-font-family: monospace;
}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: #DDDDDD;
}

.text-area {
    -fx-background-color: black;
    -fx-text-fill: #DDDDDD;
}

.content {
    -fx-background-color: black;
    -fx-text-fill: #DDDDDD;
}

.list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 0px 2px 0px 6px;
}

.list-cell:filled:selected {
    /* -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%); */
    -fx-background-color: purple;
}

.list-cell:even {
    -fx-background-color: black;
}

.list-cell:filled:hover {
}

/* Disable scroll bar */
.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

/* inner file list cell */
.yafx-file {
    -fx-text-fill: gainsboro;
}
.yafx-file-attr-directory {
    -fx-text-fill: aqua;
}
