/* location bar */
.yafx-location-bar {
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-background-color: black;
    -fx-text-fill: #DDDDDD;
    -fx-font-family: monospace;
}

/* content viewer */
.yafx-content-viewer, .yafx-content-viewer .content {
    -fx-text-fill: #DDDDDD;
    -fx-background-color: black;
    -fx-font-family: monospace;
}

/* console */
.yafx-console, .yafx-console .content {
    -fx-min-height: 50;
    -fx-background-color: black;
    -fx-text-fill: #DDDDDD;
    -fx-font-family: monospace;
}

/* image viewer */
.yafx-image-container {
    -fx-background-color: black;
    -fx-alignment: center;
}

/* content list */
.yafx-content-list .list-cell {
    -fx-background-color: black;
    -fx-padding: 0px 2px;
    -fx-font-family: monospace;
}
.yafx-content-list .list-cell:even {
}

.yafx-content-list .list-cell:filled:selected {
    -fx-background-color: purple;
}
.yafx-content-list .list-cell:filled:hover {
}

/* Disable scroll bar */
.yafx-content-list .scroll-bar .increment-arrow,
.yafx-content-list .scroll-bar .decrement-arrow,
.yafx-content-list .scroll-bar .increment-button,
.yafx-content-list .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

/* inner content list cell */

/* inner label */
.yafx-content-list .yafx-item-name {
    -fx-min-width: 10;
}
.yafx-content-list .yafx-item-ext {
    -fx-min-width: 40;
    -fx-max-width: 40;
}
.yafx-content-list .yafx-item-size {
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-alignment: center-right;
}
.yafx-content-list .yafx-item-time {
    -fx-min-width: 130;
    -fx-max-width: 130;
    -fx-alignment: center-right;
}
.yafx-content-list .yafx-item-file {
    -fx-text-fill: gainsboro;
}
.yafx-content-list .yafx-item-directory {
    -fx-text-fill: aqua;
}
